<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>space</key>
  <string>space.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>graveaccent</key>
  <string>graveaccent.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>leftcurly</key>
  <string>leftcurly.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>rightcurly</key>
  <string>rightcurly.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>uni2018</key>
  <string>uni2018.glif</string>
  <key>uni2019</key>
  <string>uni2019.glif</string>
  <key>uni201C</key>
  <string>uni201C_.glif</string>
  <key>uni201D</key>
  <string>uni201D_.glif</string>
  <key>uni2022</key>
  <string>uni2022.glif</string>
  <key>trademark</key>
  <string>trademark.glif</string>
  <key>copyright</key>
  <string>copyright.glif</string>
  <key>registered</key>
  <string>registered.glif</string>
  <key>onequarter</key>
  <string>onequarter.glif</string>
  <key>onehalf</key>
  <string>onehalf.glif</string>
  <key>threequarters</key>
  <string>threequarters.glif</string>
  <key>Divide</key>
  <string>Divide_.glif</string>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>NULL</key>
  <string>NULL_.glif</string>
  <key>CR</key>
  <string>CR_.glif</string>
  <key>Nukta</key>
  <string>Nukta_.glif</string>
  <key>uni0950</key>
  <string>uni0950.glif</string>
  <key>Udatta</key>
  <string>Udatta_.glif</string>
  <key>Anudatta</key>
  <string>Anudatta_.glif</string>
  <key>KaHalanth</key>
  <string>KaHalanth_.glif</string>
  <key>DEVANAGARI_DANDA</key>
  <string>DEVANAGARI__DANDA_.glif</string>
  <key>DEVANAGARI_DOUBLE_DANDA</key>
  <string>DEVANAGARI__DOUBLE__DANDA_.glif</string>
  <key>Arasunna</key>
  <string>Arasunna_.glif</string>
  <key>Anusvara</key>
  <string>Anusvara_.glif</string>
  <key>Visarga</key>
  <string>Visarga_.glif</string>
  <key>uni0C05</key>
  <string>uni0C05_.glif</string>
  <key>AA</key>
  <string>AA_.glif</string>
  <key>uni0C07</key>
  <string>uni0C07_.glif</string>
  <key>II</key>
  <string>II_.glif</string>
  <key>uni0C09</key>
  <string>uni0C09_.glif</string>
  <key>UU</key>
  <string>UU_.glif</string>
  <key>Ru</key>
  <string>Ru_.glif</string>
  <key>Lu</key>
  <string>Lu_.glif</string>
  <key>uni0C0E</key>
  <string>uni0C0E_.glif</string>
  <key>EE</key>
  <string>EE_.glif</string>
  <key>AI</key>
  <string>AI_.glif</string>
  <key>uni0C12</key>
  <string>uni0C12_.glif</string>
  <key>OO</key>
  <string>OO_.glif</string>
  <key>AU</key>
  <string>AU_.glif</string>
  <key>Ka</key>
  <string>Ka_.glif</string>
  <key>Kha</key>
  <string>Kha_.glif</string>
  <key>Ga</key>
  <string>Ga_.glif</string>
  <key>Gha</key>
  <string>Gha_.glif</string>
  <key>uni0C19</key>
  <string>uni0C19_.glif</string>
  <key>Ca</key>
  <string>Ca_.glif</string>
  <key>Cha</key>
  <string>Cha_.glif</string>
  <key>Ja</key>
  <string>Ja_.glif</string>
  <key>Jha</key>
  <string>Jha_.glif</string>
  <key>Nya</key>
  <string>Nya_.glif</string>
  <key>Lla</key>
  <string>Lla_.glif</string>
  <key>TTha</key>
  <string>TTha_.glif</string>
  <key>DDa</key>
  <string>DDa_.glif</string>
  <key>DDha</key>
  <string>DDha_.glif</string>
  <key>uni0C23</key>
  <string>uni0C23_.glif</string>
  <key>Ta</key>
  <string>Ta_.glif</string>
  <key>Tha</key>
  <string>Tha_.glif</string>
  <key>Da</key>
  <string>Da_.glif</string>
  <key>Dha</key>
  <string>Dha_.glif</string>
  <key>Na</key>
  <string>Na_.glif</string>
  <key>Pa</key>
  <string>Pa_.glif</string>
  <key>Pha</key>
  <string>Pha_.glif</string>
  <key>Ba</key>
  <string>Ba_.glif</string>
  <key>Bha</key>
  <string>Bha_.glif</string>
  <key>Ma</key>
  <string>Ma_.glif</string>
  <key>Ya</key>
  <string>Ya_.glif</string>
  <key>Ra</key>
  <string>Ra_.glif</string>
  <key>RRa</key>
  <string>RRa_.glif</string>
  <key>La</key>
  <string>La_.glif</string>
  <key>LLa</key>
  <string>LLa_.glif</string>
  <key>uni0C34</key>
  <string>uni0C34_.glif</string>
  <key>Va</key>
  <string>Va_.glif</string>
  <key>Sha</key>
  <string>Sha_.glif</string>
  <key>SSa</key>
  <string>SSa_.glif</string>
  <key>Sa</key>
  <string>Sa_.glif</string>
  <key>Ha</key>
  <string>Ha_.glif</string>
  <key>Avagraha</key>
  <string>Avagraha_.glif</string>
  <key>AAMatra</key>
  <string>AAMatra_.glif</string>
  <key>Imatra</key>
  <string>Imatra_.glif</string>
  <key>IIMatra</key>
  <string>IIMatra_.glif</string>
  <key>UMatra</key>
  <string>UMatra_.glif</string>
  <key>UUMatra</key>
  <string>UUMatra_.glif</string>
  <key>RMatra</key>
  <string>RMatra_.glif</string>
  <key>RRMatra</key>
  <string>RRMatra_.glif</string>
  <key>uni0C46</key>
  <string>uni0C46_.glif</string>
  <key>EEMatra</key>
  <string>EEMatra_.glif</string>
  <key>AIMatra</key>
  <string>AIMatra_.glif</string>
  <key>OMatra</key>
  <string>OMatra_.glif</string>
  <key>OOMatra</key>
  <string>OOMatra_.glif</string>
  <key>AuMatra</key>
  <string>AuMatra_.glif</string>
  <key>Halanth</key>
  <string>Halanth_.glif</string>
  <key>uni0C55</key>
  <string>uni0C55_.glif</string>
  <key>tvam</key>
  <string>tvam.glif</string>
  <key>CaNukta</key>
  <string>CaNukta_.glif</string>
  <key>JaNukta</key>
  <string>JaNukta_.glif</string>
  <key>RRu</key>
  <string>RRu_.glif</string>
  <key>LLu</key>
  <string>LLu_.glif</string>
  <key>uni0C62</key>
  <string>uni0C62_.glif</string>
  <key>uni0C63</key>
  <string>uni0C63_.glif</string>
  <key>Telugu0</key>
  <string>Telugu0_.glif</string>
  <key>Telugu1</key>
  <string>Telugu1_.glif</string>
  <key>Telugu2</key>
  <string>Telugu2_.glif</string>
  <key>Telugu3</key>
  <string>Telugu3_.glif</string>
  <key>Telugu4</key>
  <string>Telugu4_.glif</string>
  <key>Telugu5</key>
  <string>Telugu5_.glif</string>
  <key>Telugu6</key>
  <string>Telugu6_.glif</string>
  <key>Telugu7</key>
  <string>Telugu7_.glif</string>
  <key>Telugu8</key>
  <string>Telugu8_.glif</string>
  <key>Telugu9</key>
  <string>Telugu9_.glif</string>
  <key>uni0C78</key>
  <string>uni0C78_.glif</string>
  <key>uni0C79</key>
  <string>uni0C79_.glif</string>
  <key>uni0C7A</key>
  <string>uni0C7A_.glif</string>
  <key>uni0C7B</key>
  <string>uni0C7B_.glif</string>
  <key>uni0C7C</key>
  <string>uni0C7C_.glif</string>
  <key>uni0C7D</key>
  <string>uni0C7D_.glif</string>
  <key>uni0C7E</key>
  <string>uni0C7E_.glif</string>
  <key>uni0C7F</key>
  <string>uni0C7F_.glif</string>
  <key>KshNnaAI</key>
  <string>KshNnaAI_.glif</string>
  <key>afii301</key>
  <string>afii301.glif</string>
  <key>uni20B9</key>
  <string>uni20B9_.glif</string>
  <key>arrowleft</key>
  <string>arrowleft.glif</string>
  <key>arrowup</key>
  <string>arrowup.glif</string>
  <key>arrowright</key>
  <string>arrowright.glif</string>
  <key>arrowdown</key>
  <string>arrowdown.glif</string>
  <key>Ksha</key>
  <string>Ksha_.glif</string>
  <key>Kaottu</key>
  <string>Kaottu_.glif</string>
  <key>KhaOttu</key>
  <string>KhaOttu_.glif</string>
  <key>GaOttu</key>
  <string>GaOttu_.glif</string>
  <key>GhaOttu</key>
  <string>GhaOttu_.glif</string>
  <key>NgaOttu</key>
  <string>NgaOttu_.glif</string>
  <key>CaOttu</key>
  <string>CaOttu_.glif</string>
  <key>ChaOttu</key>
  <string>ChaOttu_.glif</string>
  <key>JaOttu</key>
  <string>JaOttu_.glif</string>
  <key>JhaOttu</key>
  <string>JhaOttu_.glif</string>
  <key>NyaOttu</key>
  <string>NyaOttu_.glif</string>
  <key>TTaOttu</key>
  <string>TTaOttu_.glif</string>
  <key>TTHaOttu</key>
  <string>TTHaOttu_.glif</string>
  <key>DDaOttu</key>
  <string>DDaOttu_.glif</string>
  <key>DDhaOttu</key>
  <string>DDhaOttu_.glif</string>
  <key>NNaOttu</key>
  <string>NNaOttu_.glif</string>
  <key>TaOttu</key>
  <string>TaOttu_.glif</string>
  <key>ThaOttu</key>
  <string>ThaOttu_.glif</string>
  <key>DaOttu</key>
  <string>DaOttu_.glif</string>
  <key>DhaOttu</key>
  <string>DhaOttu_.glif</string>
  <key>NaOttu</key>
  <string>NaOttu_.glif</string>
  <key>PaOttu</key>
  <string>PaOttu_.glif</string>
  <key>PhaOttu</key>
  <string>PhaOttu_.glif</string>
  <key>BaOttu</key>
  <string>BaOttu_.glif</string>
  <key>BhaOttu</key>
  <string>BhaOttu_.glif</string>
  <key>MaOttu</key>
  <string>MaOttu_.glif</string>
  <key>YaOttu</key>
  <string>YaOttu_.glif</string>
  <key>RaOttuWide2</key>
  <string>RaOttuWide2_.glif</string>
  <key>RaOttuMiddle</key>
  <string>RaOttuMiddle_.glif</string>
  <key>RaOttuRight</key>
  <string>RaOttuRight_.glif</string>
  <key>RRaOttu</key>
  <string>RRaOttu_.glif</string>
  <key>LaOttu</key>
  <string>LaOttu_.glif</string>
  <key>LLaOttu</key>
  <string>LLaOttu_.glif</string>
  <key>VaOttu</key>
  <string>VaOttu_.glif</string>
  <key>ShaOttu</key>
  <string>ShaOttu_.glif</string>
  <key>SSaOttu</key>
  <string>SSaOttu_.glif</string>
  <key>SaOttu</key>
  <string>SaOttu_.glif</string>
  <key>HaOttu</key>
  <string>HaOttu_.glif</string>
  <key>KshaOttu</key>
  <string>KshaOttu_.glif</string>
  <key>TRaOttu</key>
  <string>TRaOttu_.glif</string>
  <key>Titvam</key>
  <string>Titvam_.glif</string>
  <key>TLaOttu</key>
  <string>TLaOttu_.glif</string>
  <key>GNaOttu</key>
  <string>GNaOttu_.glif</string>
  <key>SHNaOttu</key>
  <string>SHNaOttu_.glif</string>
  <key>GyaOttu</key>
  <string>GyaOttu_.glif</string>
  <key>RaOttuWide1</key>
  <string>RaOttuWide1_.glif</string>
  <key>RaOttuMiddle1</key>
  <string>RaOttuMiddle1_.glif</string>
  <key>LowItvam</key>
  <string>LowItvam_.glif</string>
  <key>SsaTtaOttu</key>
  <string>SsaTtaOttu_.glif</string>
  <key>Multiply</key>
  <string>Multiply_.glif</string>
  <key>DoubleDanda</key>
  <string>DoubleDanda_.glif</string>
  <key>SsaTthaOttu</key>
  <string>SsaTthaOttu_.glif</string>
  <key>KhaHalanth</key>
  <string>KhaHalanth_.glif</string>
  <key>GaHalanth</key>
  <string>GaHalanth_.glif</string>
  <key>GhaHalanth</key>
  <string>GhaHalanth_.glif</string>
  <key>NGaHalanth</key>
  <string>NGaHalanth_.glif</string>
  <key>CaHalanth</key>
  <string>CaHalanth_.glif</string>
  <key>CaNuktaHalanth</key>
  <string>CaNuktaHalanth_.glif</string>
  <key>ChaHalanth</key>
  <string>ChaHalanth_.glif</string>
  <key>JaHalanth</key>
  <string>JaHalanth_.glif</string>
  <key>JaNuktaHalanth</key>
  <string>JaNuktaHalanth_.glif</string>
  <key>JhaHalanth</key>
  <string>JhaHalanth_.glif</string>
  <key>NyaHalanth</key>
  <string>NyaHalanth_.glif</string>
  <key>TTaHalanth</key>
  <string>TTaHalanth_.glif</string>
  <key>TThaHalanth</key>
  <string>TThaHalanth_.glif</string>
  <key>DDaHalanth</key>
  <string>DDaHalanth_.glif</string>
  <key>DDhaHalanth</key>
  <string>DDhaHalanth_.glif</string>
  <key>NNaHalanth</key>
  <string>NNaHalanth_.glif</string>
  <key>TaHalanth</key>
  <string>TaHalanth_.glif</string>
  <key>ThaHalanth</key>
  <string>ThaHalanth_.glif</string>
  <key>DaHalanth</key>
  <string>DaHalanth_.glif</string>
  <key>DhaHalanth</key>
  <string>DhaHalanth_.glif</string>
  <key>NaHalanth</key>
  <string>NaHalanth_.glif</string>
  <key>PaHalanth</key>
  <string>PaHalanth_.glif</string>
  <key>PhaHalanth</key>
  <string>PhaHalanth_.glif</string>
  <key>BaHalanth</key>
  <string>BaHalanth_.glif</string>
  <key>BhaHalanth</key>
  <string>BhaHalanth_.glif</string>
  <key>MaHalanth</key>
  <string>MaHalanth_.glif</string>
  <key>YaHalanth</key>
  <string>YaHalanth_.glif</string>
  <key>RaHalanth</key>
  <string>RaHalanth_.glif</string>
  <key>RRaHalanth</key>
  <string>RRaHalanth_.glif</string>
  <key>LaHalanth</key>
  <string>LaHalanth_.glif</string>
  <key>LLaHalanth</key>
  <string>LLaHalanth_.glif</string>
  <key>VaHalanth</key>
  <string>VaHalanth_.glif</string>
  <key>ShaHalanth</key>
  <string>ShaHalanth_.glif</string>
  <key>SSaHalanth</key>
  <string>SSaHalanth_.glif</string>
  <key>SaHalanth</key>
  <string>SaHalanth_.glif</string>
  <key>HaHalanth</key>
  <string>HaHalanth_.glif</string>
  <key>KshaHalanth</key>
  <string>KshaHalanth_.glif</string>
  <key>KaAA</key>
  <string>KaAA_.glif</string>
  <key>KaI</key>
  <string>KaI_.glif</string>
  <key>KaII</key>
  <string>KaII_.glif</string>
  <key>KaU</key>
  <string>KaU_.glif</string>
  <key>KaUU</key>
  <string>KaUU_.glif</string>
  <key>KaE</key>
  <string>KaE_.glif</string>
  <key>KaEE</key>
  <string>KaEE_.glif</string>
  <key>KaO</key>
  <string>KaO_.glif</string>
  <key>KaOO</key>
  <string>KaOO_.glif</string>
  <key>KaAU</key>
  <string>KaAU_.glif</string>
  <key>KhaAA</key>
  <string>KhaAA_.glif</string>
  <key>KhaI</key>
  <string>KhaI_.glif</string>
  <key>KhaII</key>
  <string>KhaII_.glif</string>
  <key>KhaU</key>
  <string>KhaU_.glif</string>
  <key>KhaUU</key>
  <string>KhaUU_.glif</string>
  <key>KhaE</key>
  <string>KhaE_.glif</string>
  <key>KhaEE</key>
  <string>KhaEE_.glif</string>
  <key>KhaO</key>
  <string>KhaO_.glif</string>
  <key>KhaOO</key>
  <string>KhaOO_.glif</string>
  <key>KhaAU</key>
  <string>KhaAU_.glif</string>
  <key>GaAA</key>
  <string>GaAA_.glif</string>
  <key>GaI</key>
  <string>GaI_.glif</string>
  <key>GaII</key>
  <string>GaII_.glif</string>
  <key>GaU</key>
  <string>GaU_.glif</string>
  <key>GaUU</key>
  <string>GaUU_.glif</string>
  <key>GaE</key>
  <string>GaE_.glif</string>
  <key>GaEE</key>
  <string>GaEE_.glif</string>
  <key>GaO</key>
  <string>GaO_.glif</string>
  <key>GaOO</key>
  <string>GaOO_.glif</string>
  <key>GaAU</key>
  <string>GaAU_.glif</string>
  <key>GhaAA</key>
  <string>GhaAA_.glif</string>
  <key>GhaI</key>
  <string>GhaI_.glif</string>
  <key>GhaII</key>
  <string>GhaII_.glif</string>
  <key>GhaU</key>
  <string>GhaU_.glif</string>
  <key>GhaUU</key>
  <string>GhaUU_.glif</string>
  <key>GhaE</key>
  <string>GhaE_.glif</string>
  <key>GhaEE</key>
  <string>GhaEE_.glif</string>
  <key>GhaO</key>
  <string>GhaO_.glif</string>
  <key>GhaOO</key>
  <string>GhaOO_.glif</string>
  <key>GhaAU</key>
  <string>GhaAU_.glif</string>
  <key>NGaAA</key>
  <string>NGaAA_.glif</string>
  <key>NgaI</key>
  <string>NgaI_.glif</string>
  <key>NGaII</key>
  <string>NGaII_.glif</string>
  <key>NGaU</key>
  <string>NGaU_.glif</string>
  <key>NGaUU</key>
  <string>NGaUU_.glif</string>
  <key>NGaE</key>
  <string>NGaE_.glif</string>
  <key>NGaEE</key>
  <string>NGaEE_.glif</string>
  <key>NGaO</key>
  <string>NGaO_.glif</string>
  <key>NGaOO</key>
  <string>NGaOO_.glif</string>
  <key>NGaAU</key>
  <string>NGaAU_.glif</string>
  <key>CaAA</key>
  <string>CaAA_.glif</string>
  <key>CaI</key>
  <string>CaI_.glif</string>
  <key>CaII</key>
  <string>CaII_.glif</string>
  <key>CaU</key>
  <string>CaU_.glif</string>
  <key>CaUU</key>
  <string>CaUU_.glif</string>
  <key>CaE</key>
  <string>CaE_.glif</string>
  <key>CaEE</key>
  <string>CaEE_.glif</string>
  <key>CaO</key>
  <string>CaO_.glif</string>
  <key>CaOO</key>
  <string>CaOO_.glif</string>
  <key>CaAU</key>
  <string>CaAU_.glif</string>
  <key>CaNuktaAA</key>
  <string>CaNuktaAA_.glif</string>
  <key>CaNuktaU</key>
  <string>CaNuktaU_.glif</string>
  <key>CaNuktaUU</key>
  <string>CaNuktaUU_.glif</string>
  <key>CaNuktaO</key>
  <string>CaNuktaO_.glif</string>
  <key>CaNuktaOO</key>
  <string>CaNuktaOO_.glif</string>
  <key>CaNuktaAU</key>
  <string>CaNuktaAU_.glif</string>
  <key>ChaAA</key>
  <string>ChaAA_.glif</string>
  <key>ChaI</key>
  <string>ChaI_.glif</string>
  <key>ChaII</key>
  <string>ChaII_.glif</string>
  <key>ChaU</key>
  <string>ChaU_.glif</string>
  <key>ChaUU</key>
  <string>ChaUU_.glif</string>
  <key>ChaE</key>
  <string>ChaE_.glif</string>
  <key>ChaEE</key>
  <string>ChaEE_.glif</string>
  <key>ChaO</key>
  <string>ChaO_.glif</string>
  <key>ChaOO</key>
  <string>ChaOO_.glif</string>
  <key>ChaAU</key>
  <string>ChaAU_.glif</string>
  <key>JaAA</key>
  <string>JaAA_.glif</string>
  <key>JaI</key>
  <string>JaI_.glif</string>
  <key>JaII</key>
  <string>JaII_.glif</string>
  <key>JaU</key>
  <string>JaU_.glif</string>
  <key>JaUU</key>
  <string>JaUU_.glif</string>
  <key>JaE</key>
  <string>JaE_.glif</string>
  <key>JaEE</key>
  <string>JaEE_.glif</string>
  <key>JaO</key>
  <string>JaO_.glif</string>
  <key>JaOO</key>
  <string>JaOO_.glif</string>
  <key>JaAU</key>
  <string>JaAU_.glif</string>
  <key>JaNuktaAA</key>
  <string>JaNuktaAA_.glif</string>
  <key>JaNuktaU</key>
  <string>JaNuktaU_.glif</string>
  <key>JaNuktaUU</key>
  <string>JaNuktaUU_.glif</string>
  <key>JaNuktaO</key>
  <string>JaNuktaO_.glif</string>
  <key>JaNuktaOO</key>
  <string>JaNuktaOO_.glif</string>
  <key>JaNuktaAU</key>
  <string>JaNuktaAU_.glif</string>
  <key>JhaAA</key>
  <string>JhaAA_.glif</string>
  <key>JhaI</key>
  <string>JhaI_.glif</string>
  <key>JhaII</key>
  <string>JhaII_.glif</string>
  <key>JhaU</key>
  <string>JhaU_.glif</string>
  <key>JhaUU</key>
  <string>JhaUU_.glif</string>
  <key>JhaE</key>
  <string>JhaE_.glif</string>
  <key>JhaEE</key>
  <string>JhaEE_.glif</string>
  <key>JhaO</key>
  <string>JhaO_.glif</string>
  <key>JhaOO</key>
  <string>JhaOO_.glif</string>
  <key>JhaAU</key>
  <string>JhaAU_.glif</string>
  <key>NyaAA</key>
  <string>NyaAA_.glif</string>
  <key>NyaI</key>
  <string>NyaI_.glif</string>
  <key>NyaII</key>
  <string>NyaII_.glif</string>
  <key>NyaU</key>
  <string>NyaU_.glif</string>
  <key>NyaUU</key>
  <string>NyaUU_.glif</string>
  <key>NyaE</key>
  <string>NyaE_.glif</string>
  <key>NyaEE</key>
  <string>NyaEE_.glif</string>
  <key>NyaO</key>
  <string>NyaO_.glif</string>
  <key>NyaOO</key>
  <string>NyaOO_.glif</string>
  <key>NyaAU</key>
  <string>NyaAU_.glif</string>
  <key>TTaAA</key>
  <string>TTaAA_.glif</string>
  <key>TTaI</key>
  <string>TTaI_.glif</string>
  <key>TTaII</key>
  <string>TTaII_.glif</string>
  <key>TTaU</key>
  <string>TTaU_.glif</string>
  <key>TTaUU</key>
  <string>TTaUU_.glif</string>
  <key>TTaE</key>
  <string>TTaE_.glif</string>
  <key>TTaEE</key>
  <string>TTaEE_.glif</string>
  <key>TTaO</key>
  <string>TTaO_.glif</string>
  <key>TTaOO</key>
  <string>TTaOO_.glif</string>
  <key>TTaAU</key>
  <string>TTaAU_.glif</string>
  <key>TThaAA</key>
  <string>TThaAA_.glif</string>
  <key>TThaI</key>
  <string>TThaI_.glif</string>
  <key>TThaII</key>
  <string>TThaII_.glif</string>
  <key>TThaU</key>
  <string>TThaU_.glif</string>
  <key>TThaUU</key>
  <string>TThaUU_.glif</string>
  <key>TThaE</key>
  <string>TThaE_.glif</string>
  <key>TThaEE</key>
  <string>TThaEE_.glif</string>
  <key>TThaO</key>
  <string>TThaO_.glif</string>
  <key>TThaOO</key>
  <string>TThaOO_.glif</string>
  <key>TThaAU</key>
  <string>TThaAU_.glif</string>
  <key>DDaAA</key>
  <string>DDaAA_.glif</string>
  <key>DDaI</key>
  <string>DDaI_.glif</string>
  <key>DDaII</key>
  <string>DDaII_.glif</string>
  <key>DDaU</key>
  <string>DDaU_.glif</string>
  <key>DDaUU</key>
  <string>DDaUU_.glif</string>
  <key>DDaE</key>
  <string>DDaE_.glif</string>
  <key>DDaEE</key>
  <string>DDaEE_.glif</string>
  <key>DDaO</key>
  <string>DDaO_.glif</string>
  <key>DDaOO</key>
  <string>DDaOO_.glif</string>
  <key>DDaAU</key>
  <string>DDaAU_.glif</string>
  <key>DDhaAA</key>
  <string>DDhaAA_.glif</string>
  <key>DDhaI</key>
  <string>DDhaI_.glif</string>
  <key>DDhaII</key>
  <string>DDhaII_.glif</string>
  <key>DDhaU</key>
  <string>DDhaU_.glif</string>
  <key>DDhaUU</key>
  <string>DDhaUU_.glif</string>
  <key>DDhaE</key>
  <string>DDhaE_.glif</string>
  <key>DDhaEE</key>
  <string>DDhaEE_.glif</string>
  <key>DDhaO</key>
  <string>DDhaO_.glif</string>
  <key>DDhaOO</key>
  <string>DDhaOO_.glif</string>
  <key>DDhaAU</key>
  <string>DDhaAU_.glif</string>
  <key>NNaAA</key>
  <string>NNaAA_.glif</string>
  <key>NNaI</key>
  <string>NNaI_.glif</string>
  <key>NNaII</key>
  <string>NNaII_.glif</string>
  <key>NNaU</key>
  <string>NNaU_.glif</string>
  <key>NNaUU</key>
  <string>NNaUU_.glif</string>
  <key>NNaE</key>
  <string>NNaE_.glif</string>
  <key>NNaEE</key>
  <string>NNaEE_.glif</string>
  <key>NNaO</key>
  <string>NNaO_.glif</string>
  <key>NNaOO</key>
  <string>NNaOO_.glif</string>
  <key>NNaAU</key>
  <string>NNaAU_.glif</string>
  <key>TaAA</key>
  <string>TaAA_.glif</string>
  <key>TaI</key>
  <string>TaI_.glif</string>
  <key>TaII</key>
  <string>TaII_.glif</string>
  <key>TaU</key>
  <string>TaU_.glif</string>
  <key>TaUU</key>
  <string>TaUU_.glif</string>
  <key>TaE</key>
  <string>TaE_.glif</string>
  <key>TaEE</key>
  <string>TaEE_.glif</string>
  <key>TaO</key>
  <string>TaO_.glif</string>
  <key>TaOO</key>
  <string>TaOO_.glif</string>
  <key>TaAU</key>
  <string>TaAU_.glif</string>
  <key>ThaAA</key>
  <string>ThaAA_.glif</string>
  <key>ThaI</key>
  <string>ThaI_.glif</string>
  <key>ThaII</key>
  <string>ThaII_.glif</string>
  <key>ThaU</key>
  <string>ThaU_.glif</string>
  <key>ThaUU</key>
  <string>ThaUU_.glif</string>
  <key>ThaE</key>
  <string>ThaE_.glif</string>
  <key>ThaEE</key>
  <string>ThaEE_.glif</string>
  <key>ThaO</key>
  <string>ThaO_.glif</string>
  <key>ThaOO</key>
  <string>ThaOO_.glif</string>
  <key>ThaAU</key>
  <string>ThaAU_.glif</string>
  <key>DaAA</key>
  <string>DaAA_.glif</string>
  <key>DaI</key>
  <string>DaI_.glif</string>
  <key>DaII</key>
  <string>DaII_.glif</string>
  <key>DaU</key>
  <string>DaU_.glif</string>
  <key>DaUU</key>
  <string>DaUU_.glif</string>
  <key>DaE</key>
  <string>DaE_.glif</string>
  <key>DaEE</key>
  <string>DaEE_.glif</string>
  <key>DaO</key>
  <string>DaO_.glif</string>
  <key>DaOO</key>
  <string>DaOO_.glif</string>
  <key>DaAU</key>
  <string>DaAU_.glif</string>
  <key>DhaAA</key>
  <string>DhaAA_.glif</string>
  <key>DhaI</key>
  <string>DhaI_.glif</string>
  <key>DhaII</key>
  <string>DhaII_.glif</string>
  <key>DhaU</key>
  <string>DhaU_.glif</string>
  <key>DhaUU</key>
  <string>DhaUU_.glif</string>
  <key>DhaE</key>
  <string>DhaE_.glif</string>
  <key>DhaEE</key>
  <string>DhaEE_.glif</string>
  <key>DhaO</key>
  <string>DhaO_.glif</string>
  <key>DhaOO</key>
  <string>DhaOO_.glif</string>
  <key>DhaAU</key>
  <string>DhaAU_.glif</string>
  <key>NaAA</key>
  <string>NaAA_.glif</string>
  <key>NaI</key>
  <string>NaI_.glif</string>
  <key>NaII</key>
  <string>NaII_.glif</string>
  <key>NaU</key>
  <string>NaU_.glif</string>
  <key>NaUU</key>
  <string>NaUU_.glif</string>
  <key>NaE</key>
  <string>NaE_.glif</string>
  <key>NaEE</key>
  <string>NaEE_.glif</string>
  <key>NaO</key>
  <string>NaO_.glif</string>
  <key>NaOO</key>
  <string>NaOO_.glif</string>
  <key>NaAU</key>
  <string>NaAU_.glif</string>
  <key>PaAA</key>
  <string>PaAA_.glif</string>
  <key>PaI</key>
  <string>PaI_.glif</string>
  <key>PaII</key>
  <string>PaII_.glif</string>
  <key>PaU</key>
  <string>PaU_.glif</string>
  <key>PaUU</key>
  <string>PaUU_.glif</string>
  <key>PaE</key>
  <string>PaE_.glif</string>
  <key>PaEE</key>
  <string>PaEE_.glif</string>
  <key>PaO</key>
  <string>PaO_.glif</string>
  <key>PaOO</key>
  <string>PaOO_.glif</string>
  <key>PaAU</key>
  <string>PaAU_.glif</string>
  <key>PhaAA</key>
  <string>PhaAA_.glif</string>
  <key>PhaI</key>
  <string>PhaI_.glif</string>
  <key>PhaII</key>
  <string>PhaII_.glif</string>
  <key>PhaU</key>
  <string>PhaU_.glif</string>
  <key>PhaUU</key>
  <string>PhaUU_.glif</string>
  <key>PhaE</key>
  <string>PhaE_.glif</string>
  <key>PhaEE</key>
  <string>PhaEE_.glif</string>
  <key>PhaO</key>
  <string>PhaO_.glif</string>
  <key>PhaOO</key>
  <string>PhaOO_.glif</string>
  <key>PhaAU</key>
  <string>PhaAU_.glif</string>
  <key>BaAA</key>
  <string>BaAA_.glif</string>
  <key>BaI</key>
  <string>BaI_.glif</string>
  <key>BaII</key>
  <string>BaII_.glif</string>
  <key>BaU</key>
  <string>BaU_.glif</string>
  <key>BaUU</key>
  <string>BaUU_.glif</string>
  <key>BaE</key>
  <string>BaE_.glif</string>
  <key>BaEE</key>
  <string>BaEE_.glif</string>
  <key>BaO</key>
  <string>BaO_.glif</string>
  <key>BaOO</key>
  <string>BaOO_.glif</string>
  <key>BaAU</key>
  <string>BaAU_.glif</string>
  <key>BhaAA</key>
  <string>BhaAA_.glif</string>
  <key>BhaI</key>
  <string>BhaI_.glif</string>
  <key>BhaII</key>
  <string>BhaII_.glif</string>
  <key>BhaU</key>
  <string>BhaU_.glif</string>
  <key>BhaUU</key>
  <string>BhaUU_.glif</string>
  <key>BhaE</key>
  <string>BhaE_.glif</string>
  <key>BhaEE</key>
  <string>BhaEE_.glif</string>
  <key>BhaO</key>
  <string>BhaO_.glif</string>
  <key>BhaOO</key>
  <string>BhaOO_.glif</string>
  <key>BhaAU</key>
  <string>BhaAU_.glif</string>
  <key>MaAA</key>
  <string>MaAA_.glif</string>
  <key>MaI</key>
  <string>MaI_.glif</string>
  <key>MaII</key>
  <string>MaII_.glif</string>
  <key>MaU</key>
  <string>MaU_.glif</string>
  <key>MaUU</key>
  <string>MaUU_.glif</string>
  <key>MaE</key>
  <string>MaE_.glif</string>
  <key>MaEE</key>
  <string>MaEE_.glif</string>
  <key>MaO</key>
  <string>MaO_.glif</string>
  <key>MaOO</key>
  <string>MaOO_.glif</string>
  <key>MaAU</key>
  <string>MaAU_.glif</string>
  <key>YaAA</key>
  <string>YaAA_.glif</string>
  <key>YaI</key>
  <string>YaI_.glif</string>
  <key>YaII</key>
  <string>YaII_.glif</string>
  <key>YaU</key>
  <string>YaU_.glif</string>
  <key>YaUU</key>
  <string>YaUU_.glif</string>
  <key>YaE</key>
  <string>YaE_.glif</string>
  <key>YaEE</key>
  <string>YaEE_.glif</string>
  <key>YaO</key>
  <string>YaO_.glif</string>
  <key>YaOO</key>
  <string>YaOO_.glif</string>
  <key>YaAU</key>
  <string>YaAU_.glif</string>
  <key>RaAA</key>
  <string>RaAA_.glif</string>
  <key>RaI</key>
  <string>RaI_.glif</string>
  <key>RaII</key>
  <string>RaII_.glif</string>
  <key>RaU</key>
  <string>RaU_.glif</string>
  <key>RaUU</key>
  <string>RaUU_.glif</string>
  <key>RaE</key>
  <string>RaE_.glif</string>
  <key>RaEE</key>
  <string>RaEE_.glif</string>
  <key>RaO</key>
  <string>RaO_.glif</string>
  <key>RaOO</key>
  <string>RaOO_.glif</string>
  <key>RaAU</key>
  <string>RaAU_.glif</string>
  <key>RRaAA</key>
  <string>RRaAA_.glif</string>
  <key>RRaI</key>
  <string>RRaI_.glif</string>
  <key>RRaII</key>
  <string>RRaII_.glif</string>
  <key>RRaU</key>
  <string>RRaU_.glif</string>
  <key>RRaUU</key>
  <string>RRaUU_.glif</string>
  <key>RRaE</key>
  <string>RRaE_.glif</string>
  <key>RRaEE</key>
  <string>RRaEE_.glif</string>
  <key>RRaO</key>
  <string>RRaO_.glif</string>
  <key>RRaOO</key>
  <string>RRaOO_.glif</string>
  <key>RRaAU</key>
  <string>RRaAU_.glif</string>
  <key>LaAA</key>
  <string>LaAA_.glif</string>
  <key>LaI</key>
  <string>LaI_.glif</string>
  <key>LaII</key>
  <string>LaII_.glif</string>
  <key>LaU</key>
  <string>LaU_.glif</string>
  <key>LaUU</key>
  <string>LaUU_.glif</string>
  <key>LaE</key>
  <string>LaE_.glif</string>
  <key>LaEE</key>
  <string>LaEE_.glif</string>
  <key>LaO</key>
  <string>LaO_.glif</string>
  <key>LaOO</key>
  <string>LaOO_.glif</string>
  <key>LaAU</key>
  <string>LaAU_.glif</string>
  <key>LLaAA</key>
  <string>LLaAA_.glif</string>
  <key>LLaI</key>
  <string>LLaI_.glif</string>
  <key>LLaII</key>
  <string>LLaII_.glif</string>
  <key>LLaU</key>
  <string>LLaU_.glif</string>
  <key>LLaUU</key>
  <string>LLaUU_.glif</string>
  <key>LLaE</key>
  <string>LLaE_.glif</string>
  <key>LLaEE</key>
  <string>LLaEE_.glif</string>
  <key>LLaO</key>
  <string>LLaO_.glif</string>
  <key>LLaOO</key>
  <string>LLaOO_.glif</string>
  <key>LLaAU</key>
  <string>LLaAU_.glif</string>
  <key>VaAA</key>
  <string>VaAA_.glif</string>
  <key>VaI</key>
  <string>VaI_.glif</string>
  <key>VaII</key>
  <string>VaII_.glif</string>
  <key>VaU</key>
  <string>VaU_.glif</string>
  <key>VaUU</key>
  <string>VaUU_.glif</string>
  <key>VaE</key>
  <string>VaE_.glif</string>
  <key>VaEE</key>
  <string>VaEE_.glif</string>
  <key>VaO</key>
  <string>VaO_.glif</string>
  <key>VaOO</key>
  <string>VaOO_.glif</string>
  <key>VaAU</key>
  <string>VaAU_.glif</string>
  <key>ShaAA</key>
  <string>ShaAA_.glif</string>
  <key>ShaI</key>
  <string>ShaI_.glif</string>
  <key>ShaII</key>
  <string>ShaII_.glif</string>
  <key>ShaU</key>
  <string>ShaU_.glif</string>
  <key>ShaUU</key>
  <string>ShaUU_.glif</string>
  <key>ShaE</key>
  <string>ShaE_.glif</string>
  <key>ShaEE</key>
  <string>ShaEE_.glif</string>
  <key>ShaO</key>
  <string>ShaO_.glif</string>
  <key>ShaOO</key>
  <string>ShaOO_.glif</string>
  <key>ShaAU</key>
  <string>ShaAU_.glif</string>
  <key>SSaAA</key>
  <string>SSaAA_.glif</string>
  <key>SSaI</key>
  <string>SSaI_.glif</string>
  <key>SSaII</key>
  <string>SSaII_.glif</string>
  <key>SSaU</key>
  <string>SSaU_.glif</string>
  <key>SSaUU</key>
  <string>SSaUU_.glif</string>
  <key>SSaE</key>
  <string>SSaE_.glif</string>
  <key>SSaEE</key>
  <string>SSaEE_.glif</string>
  <key>SSaO</key>
  <string>SSaO_.glif</string>
  <key>SSaOO</key>
  <string>SSaOO_.glif</string>
  <key>SSaAU</key>
  <string>SSaAU_.glif</string>
  <key>SaAA</key>
  <string>SaAA_.glif</string>
  <key>SaI</key>
  <string>SaI_.glif</string>
  <key>SaII</key>
  <string>SaII_.glif</string>
  <key>SaU</key>
  <string>SaU_.glif</string>
  <key>SaUU</key>
  <string>SaUU_.glif</string>
  <key>SaE</key>
  <string>SaE_.glif</string>
  <key>SaEE</key>
  <string>SaEE_.glif</string>
  <key>SaO</key>
  <string>SaO_.glif</string>
  <key>SaOO</key>
  <string>SaOO_.glif</string>
  <key>SaAU</key>
  <string>SaAU_.glif</string>
  <key>HaAA</key>
  <string>HaAA_.glif</string>
  <key>HaI</key>
  <string>HaI_.glif</string>
  <key>HaII</key>
  <string>HaII_.glif</string>
  <key>HaU</key>
  <string>HaU_.glif</string>
  <key>HaUU</key>
  <string>HaUU_.glif</string>
  <key>HaE</key>
  <string>HaE_.glif</string>
  <key>HaEE</key>
  <string>HaEE_.glif</string>
  <key>HaO</key>
  <string>HaO_.glif</string>
  <key>HaOO</key>
  <string>HaOO_.glif</string>
  <key>HaAU</key>
  <string>HaAU_.glif</string>
  <key>KshaAA</key>
  <string>KshaAA_.glif</string>
  <key>KshaI</key>
  <string>KshaI_.glif</string>
  <key>KshaII</key>
  <string>KshaII_.glif</string>
  <key>KshaU</key>
  <string>KshaU_.glif</string>
  <key>KshaUU</key>
  <string>KshaUU_.glif</string>
  <key>KshaE</key>
  <string>KshaE_.glif</string>
  <key>KshaEE</key>
  <string>KshaEE_.glif</string>
  <key>KshaO</key>
  <string>KshaO_.glif</string>
  <key>KshaOO</key>
  <string>KshaOO_.glif</string>
  <key>KshaAU</key>
  <string>KshaAU_.glif</string>
  <key>ch744</key>
  <string>ch744.glif</string>
  <key>ch745</key>
  <string>ch745.glif</string>
  <key>ch746</key>
  <string>ch746.glif</string>
  <key>ch747</key>
  <string>ch747.glif</string>
  <key>ch748</key>
  <string>ch748.glif</string>
  <key>ch749</key>
  <string>ch749.glif</string>
  <key>ch750</key>
  <string>ch750.glif</string>
  <key>ch751</key>
  <string>ch751.glif</string>
  <key>ch752</key>
  <string>ch752.glif</string>
  <key>ch753</key>
  <string>ch753.glif</string>
  <key>ch754</key>
  <string>ch754.glif</string>
  <key>ch755</key>
  <string>ch755.glif</string>
  <key>ch756</key>
  <string>ch756.glif</string>
  <key>ch757</key>
  <string>ch757.glif</string>
  <key>ch758</key>
  <string>ch758.glif</string>
  <key>ch759</key>
  <string>ch759.glif</string>
  <key>ch763</key>
  <string>ch763.glif</string>
  <key>ch764</key>
  <string>ch764.glif</string>
  <key>ch765</key>
  <string>ch765.glif</string>
  <key>ch766</key>
  <string>ch766.glif</string>
  <key>ch767</key>
  <string>ch767.glif</string>
  <key>ch768</key>
  <string>ch768.glif</string>
  <key>ch769</key>
  <string>ch769.glif</string>
  <key>ch770</key>
  <string>ch770.glif</string>
  <key>ch771</key>
  <string>ch771.glif</string>
  <key>ch772</key>
  <string>ch772.glif</string>
  <key>ch773</key>
  <string>ch773.glif</string>
  <key>ch774</key>
  <string>ch774.glif</string>
  <key>KshaAI</key>
  <string>KshaAI_.glif</string>
</dict>
</plist>
